    </main>
    <footer>
        <img src="img/csumb_logo.png" alt="CSUMB logo" width="100px">
        <p>
            CST336 Internet Programming. 2026 &#169; Torrealba, Stark, Tan, Tan<br>
            <b>Disclaimer:</b> The information in this webpage is fictitious. It is used for academic purposes only.
        </p>
    </footer>
</body>
</html>