<%- include('partials/head') %>
<%- include('partials/nav') %>

<form action="/searchBySong">
    <label>Search by song:</label>
    <input type="text" name="song">
    <button>Search</button>
</form>

<%- include('partials/footer') %>