<%- include('partials/head') %>

<form action="/login">
    Username: <input type="text" name="username"><br>

    Password: <input type="password" name="password"><br>

    <a href="/newUser"></a>

    <button type="submit">Login</button>
</form>

<%- include('partials/footer') %>